# --- CORE ARCHITETTURA ---
langgraph
langchain-core
langchain-openai
langchain-community
pydantic

# --- RICERCA WEB ---
tavily-python

# --- DATABASE VETTORIALE E RAG ---
langchain-chroma
langchain-huggingface
sentence-transformers
datasets

# --- KNOWLEDGE GRAPH ---
neo4j

# --- UTILITY E DEBUG ---
python-dotenv
langsmith

#--- EVALUATION ---
cohere